<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.os_tec.store">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Classes.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design1"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.InternetActivity"></activity>
        <activity
            android:name=".Activities.ShowItems.ShowItemsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.Navigation3Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.Navigation2Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.ItemDetails.ItemDetailsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/splashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainNavigation"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>